@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background: #1A2036;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0;

    font-family: 'Poppins', sans-serif;
}

body>.container {
    background-color: #252B42;

    display: flex;
    align-items: center;

    width: 80vw;
    height: 80vh;

    padding: 35px;

    border-radius: 25px;
}